.modal-grid {
    display: grid;
    grid-template-columns: 50px 1fr 1fr; 
    align-items: center;
  }

 ul{
  margin: 0;
  padding: 2vh;
 } 
  .modal-grid img {
    width: 50px;
    height: 50px;
  }
  
  .modal-grid .product-details {
    display: flex;
    flex-direction: column;
    margin-left: 10px; 
  }
  
  .modal-grid .product-details strong {
    margin-bottom: 0.5rem;
  }
  
  .subtotal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
  }

  .subtotal-price {
    display: flex;
    justify-content: right;
  }

  .products-price {
    display: flex;
    justify-content: right;
  }
 

  .shipping-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
  }

  .shipping-price{
    display: flex;
    justify-content: right;
    padding-right: 2vh;
  }

  .in-store {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
  }

  .in-store-span{
    display: flex;
    justify-content: right;
    padding-right: 2vh;
  }


  .Buttons-modal {
    font-size: 2vh;
    display: flex;
    border-radius: 10px;
    background: #F90;
    color: #000000;
    font-family: Impact;
    border: none;
    padding: 0 2vh;
    text-align: center;
}

  .Buttons-modal-pay {
  font-size: 2vh;
  display: flex;
  border-radius: 10px;
  background: #F90;
  color: #000000;
  font-family: Impact;
  border: none;
  padding: 0 1vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.Buttons-modal-finalize{
  font-size: 2vh;
  display: flex;
  border-radius: 10px;
  background: #F90;
  color: #000000;
  font-family: Impact;
  border: none;
  padding: 0 1vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.modal-address{
  display: grid;
  grid-template-columns:  30% 5%;
  justify-content: left;
}

button.Buttons-modal-address{
  font-size: 3vh;
  display: flex;
  border-radius: 30px;
  background: #F90;
  color: #000000;
  font-family: Impact;
  border: none;
  padding: 0 1vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2vh;
  margin-right: 2vh;
}

.input{
  margin-left: 1vh;
}

.pay-finalize{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  gap: 3vh;
}

div.modal-footer{
  justify-content: center;
}

.thanks{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

}


button.Buttons-modal-pay{
  font-size: 3vh;
    display: flex;
    border-radius: 10px;
    background: #F90;
    color: #000000;
    font-family: Impact;
    border: none;
    padding: 0 2vh;
    margin-right: 1vh;
    text-align: center;
    justify-content: center;
}

button.Buttons-modal-finalize{
  font-size: 3vh;
    display: flex;
    border-radius: 10px;
    background: #F90;
    color: #000000;
    font-family: Impact;
    border: none;
    padding: 0 2vh;
    margin-right: 1vh;
    text-align: center;
    justify-content: center;
}

.data-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}


@media (max-width: 600px) and (max-height: 900px) {
  button.Buttons-modal-address{
    padding-left: 7vh;
    padding-right: 7vh;
    font-size: 2.5vh;
    border-radius: 10px;
  }
  
}