html {
    scroll-behavior: smooth;
    transition-timing-function: ease-in-out;
  }

.HomeFront-Page {
    height: 120vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.499) 100%), url("https://res.cloudinary.com/dtqgzojs3/image/upload/v1695506975/6A775F5B-FCAB-4FEE-B602-B4CBE63A5884_oukgph.webp");
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-top: 10vh;
    width: 100% !important;
}

.Home-Title {
    font-size: 30vh;
    color: rgba(255, 255, 255, 0.90);
    font-family: Impact;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    opacity: 90%;
}

.Home-Subtitle {
    color: #FFF;
    text-align: center;
    font-family: Impact;
    font-size: 7vh;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-transform: uppercase;
    border: 1vh solid orange;
    background: rgba(255, 255, 255, 0.00);
    align-items: center;
    justify-content: center;
}

@keyframes fadeInOut {
    0% {
      opacity: 0.8;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.8;
    }
  }


.HomeMen-Page {
    height: 120vh;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-top: 10vh;
    width: 100%; 
    animation: fadeInOut 5s ease-in-out infinite; 
}

.Men-Title p {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Impact;
    font-size: 12vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    opacity: 90%;
    align-items: center;
    padding-top: 18vh;
}

.Men-Title p:hover {
    color: #FFF;
  transform: scale(1.05); 
  transition: transform 0.5s;
}

.Buttons {
    display: flex;
    width: 338px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
    background: #F90;
    color: #FFF;
    text-align: center;
    font-family: Impact;
    font-size: 5vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    align-self: center;
    margin-left: 80vh;
    border: none;
}

.Buttons a {
    text-decoration: none; 
    color: inherit; 
}

.Buttons a:focus, .Buttons a:active {
    outline: none; 
    color: inherit; 
}

.HomeWoman-Page {
    height: 120vh;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-top: 10vh;
    width: 100%; 
    animation: fadeInOut 5s ease-in-out infinite; 
}

.Woman-Title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    font-size: 5vh;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Impact;
    font-size: 12vh;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    align-items: center;
    gap: 10vh
}

.WomanFirtsTitle {
    opacity: 90%;
    text-align: left;
    margin-left: 10vh;
}

.WomanSecondTitle {
    opacity: 90%;
    text-align: right;
    margin-right: 10vh;
}

.WomanFirtsTitle:hover,
.WomanSecondTitle:hover {
    color: #FFF;
  transform: scale(1.1); 
  transition: transform 0.5s;
}


.HomeAccesories-Page {
    height: 90vh;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-top: 10vh;
    width: 100%; 
    animation: fadeInOut 5s ease-in-out infinite; 
}

.Accesories-Title {
    font-size: 12vh;
    color: rgba(255, 255, 255, 0.90);
    font-family: Impact;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    opacity: 90%;
}

.Accesories-Title p:hover {
    color: #FFF;
  transform: scale(1.05); 
  transition: transform 0.5s;
}

@media screen and (max-width: 600px) and (max-height: 900px) {
    .HomeFront-Page {
        height: 450px;
        width: 400 !important;
    }
    
    .Home-Title {
        font-size: 12vh;
        padding-top:2vh;
        font-family: 'Oswald', sans-serif;
        font-weight: 600;
    }
    
    .Home-Subtitle {
        font-size: 3vh;
        border: 0.1vh solid orange;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
    }
    
    .Buttons {
        display: flex;
        width: 12vh;
        height: 6vh;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 2vh;
        margin-left: 20vh;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
    }

    .HomeMen-Page{
        height: 450px;
        padding-top: 2vh;
    }

    .Men-Title p {
        font-size: 5vh;
        padding-top: 1vh;
        margin-top: 5vh;
        font-family: 'Oswald', sans-serif;
        font-weight: 600;
    }

    .HomeWoman-Page{
        height: 450px;
        width: 400 !important;
        padding-top: 1vh;
    }

    .Woman-Title{
        gap: 2vh; 
        padding-top: 0.5vh;
    }

    .WomanFirtsTitle{
        font-size: 4vh;
        padding-top: 1px;
        margin-left: 1vh;
        margin-top: 1px;
        margin-bottom: 1px;
        font-family: 'Oswald', sans-serif;
        font-weight: 600;
    }

    .WomanSecondTitle{
        font-size: 4vh;
        padding-top: 1px;
        margin-right: 1vh;
        margin-top: 1px;
        margin-bottom: 1px;
        font-family: 'Oswald', sans-serif;
        font-weight: 600;
    }

    .HomeAccesories-Page {
        height: 450px;
        width: 400 !important;
        padding-top: 1vh;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    }

    .Accesories-Title {
        margin-top: 15vh;
        font-size: 4vh;
        padding-top: 1vh;
        font-family: 'Oswald', sans-serif;
        font-weight: 600;
    }
}