html {
  scroll-behavior: smooth;
  transition-timing-function: ease-in-out;
  transition-duration: 1.7s; 
}

.footer {
    background-color: rgb(40, 40, 40);
    padding: 1vh 2vh; 
    z-index: 1;
    width: 100%;
    
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .join-us {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 8vh;
    color: #dcdcdc;
    font-family: Impact;
    font-size: 4vh; 
    font-weight: 400;
    text-transform: uppercase;
  }

  .join-us:hover{
    color: white;
  }
  
  .terms-policy {
    color: #dcdcdc;
    font-family: Arial Hebrew;
    font-size: 2.5vh;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 15vh;
  }

  .terms-policy:hover{
    color: white;
  }
  
  .copyright {
    color:  #cdcdcd;
    font-family: Bodoni;
    font-size: 2.5vh;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 5vh;
  }

  .copyright p:hover{
    color: white;
  }


  .social-icons a {
    align-items: center;
    text-decoration: none;
    color: inherit;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
    margin-left: 5vh;
    margin-bottom: 2vh;
  }
  
  .social-icons img {
    width: 2vh; 
    height: 2vh;
  }

  @media (max-width: 500px) and (max-height: 900px) {
    html {
      scroll-behavior: smooth;
      transition-timing-function: ease-in-out;
      transition-duration: 1.7s; 
    }

    .footer-content{
      display: block;
      font-size: 4vh;
    }

    .terms-policy{
      padding-left: 1vh;
      font-size: 1.5vh;
    }

    .join-us{
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-left: 1vh;
      font-size: 2vh;
    }

    .join-us p{
      font-size: 2vh;
    }

    .social-icons{
      margin-left: 8vh;
      padding-left: 0.5vh;
    }

    .copyright{
      margin-right: 0.5vh;
      font-size: 1.5vh;
    }

    .social-icons svg {
      width: 3vh; 
      height: 3vh;
    }

    }