.detail-grid {
    display: grid;
    grid-template-columns: 40% 60%;

    padding-top: 5vh;
  }

.detail-img{
    width: 85%;
    height: 90%;
    
}

.column2{
    text-align: left;
    justify-content: center;
    padding: 10vh;
    align-items: center;
    margin-right: 3rem;
}
  
.detail-title{
    gap: 1vh;
    font-size: 5vh;
    justify-items: left; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    padding-bottom: 1vh;
}

.detail-add-button{
    padding-left: 1vh;
    margin-left: 20%;
    border: none;
    background-color: var(--buttons-color);
    color: #333;
    font-size: 4vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 5vh;
    cursor: pointer;
    width: 50%;
    margin-bottom: 4vh
}

.detail-back-button{
    margin-left: 20%;
    margin-right: 20%;
    border: none;
    background-color: var(--buttons-color);
    color: #333;
    font-size: 4vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 5vh;
    cursor: pointer;
    width: 50%;
    margin-bottom: 4vh;
}

.similar-products-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 5vh;
}


.img-similar{
    width: 24vh;
    height: 30vh;
}


/*Responsive*/

@media (max-width: 600px) and (max-height: 900px) {
    .detail-grid {
      grid-template-columns: 100%; 
    }
  
    .detail-img {
      width: 69%; 
      height: auto;
    }
  
    .column2 {
      padding: 2vh; 
      margin-right: 0;
    }
  
    .detail-title {
      font-size: 3vh;
    }

    .detail-description{
      font-size: 1.5vh;
    }
  
    .detail-add-button,
    .detail-back-button {
      margin: 0 auto;
      width: 80%; 
    }
  
    .similar-products-grid {
      grid-template-columns: repeat(3, 1fr); 
      padding-top: 2vh; 
    }
  
    .img-similar {
      width: 100%; 
      height: auto; 
    }
  
    .similar-product-title {
      font-size: 2vh;
    }

    .detail-add-button{
        margin-bottom: 2vh;
    }
    .detail-back-button{
        margin-bottom: 2vh;
    }
    
  }
  