html {
  scroll-behavior: smooth;
  transition-timing-function: ease-in-out;
  transition-duration: 1.7s; 
}

:root {
  --navbar-color: #FFF7EC;  
  --buttons-color: #FF9900;
  --background-color: rgb(40, 40, 40);
  --serch-color:#FFEACB;
  --go-back-backgroud: #FF990040;
  --go-font-color: rgb(91, 254, 91);
  --back-font-color: #F14668;
}

#root {
  text-align: center;
  padding: 0;
}

.body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

body {
  font-family: 'Oswald', sans-serif;
}

.header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  list-style: none;
  text-decoration: none;
  background-color: rgb(40, 40, 40);
  color: #f2f2f2;
  padding-left: 2vh;
  padding-right: 5vh;
  width: 100%; 
  margin-left: 0;
  z-index: 2;
}

.header h1 a{
  font-family: 'Oswald', sans-serif;
 font-size: 3.5vh;
 margin-left: 3vh;
 color: #c6c6c6;
 text-decoration: none;

}

.header h1 a:hover {
  color: white;
}

.header ul{
  margin-right: 6vh;
  display: flex; 
  align-items: center;
}

.header ul li {
  display: inline-block; 
  margin-left: 3vh;
  text-decoration: none;
  color: #f2f2f2;
}

.header ul li a {
  text-decoration: none;
  font-family: sans-serif;
  color: black;
  margin-right: 2vh;
  color: #dedede;
}

.header ul li a:hover{
  color: white;
}

.search-input{
  background-color: var(--serch-color);
  border-radius: 5px;
  border: none;
  outline: none;
}

.search-btn{
  background-color:var(--buttons-color);
  border: none;
  margin-left: 0.5vh;
  border-radius: 5px;

}

html {
  scroll-behavior: smooth;
  transition-timing-function: ease-in-out;
  transition-duration: 1.7s; 
}


::-webkit-scrollbar {
  width: 0.6rem;
}
::-webkit-scrollbar-track {
  background:black;
}
::-webkit-scrollbar-thumb {
  background: rgb(137, 137, 137);
  border-radius: 0.3rem;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--buttons-color)
}

.menu-toggle {
  display: none; 
}

@media (max-width: 600px) and (max-height: 900px) {
  html {
    scroll-behavior: smooth;
    transition-timing-function: ease-in-out;
    transition-duration: 1.7s; 
    margin: 0;
    padding: 0;
  }
  
  :root {
    --navbar-color: #FFF7EC;  
    --buttons-color: #FF9900;
    --background-color: rgb(40, 40, 40);
    --serch-color:#FFEACB;
    --go-back-backgroud: #FF990040;
    --go-font-color: rgb(91, 254, 91);
    --back-font-color: #F14668;
  }
  
  #root {
    max-width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    
  }
  
  .header{
    justify-content: space-between;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 10vh;
  }
  
  .header h1 a{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 2vh;
    margin-left: 5vh;
    color: #c6c6c6;
    text-decoration: none;
   }
   
   .header h1 a:hover {
     color: white;
   }

  .header ul{
    margin: 0;
    padding: 0;
  }
  
  .header ul li {
    display: inline-block; 
    margin-left: 0.3vh;
    text-decoration: none;
    color: #f2f2f2;
  }
  
  .header ul li a {
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    color: #dedede;
  }
  
  .header ul li a:hover{
    color: white;
  }
  
  input.search-input{
    background-color: var(--serch-color);
    border-radius: 5px;
    border: none;
    outline: none;
  }
  
  input.search-btn{
    background-color:var(--buttons-color);
    border: none;
    border-radius: 5px;
    margin: 0;
    padding: 0;
  
  }

  button.menu-icon{
    margin-right: 1vh;
    margin-left: 3vh;
  }

  ::-webkit-scrollbar {
    width: 0.6rem;
  }
  ::-webkit-scrollbar-track {
    background:black;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(137, 137, 137);
    border-radius: 0.3rem;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--buttons-color)
  }
  
  
}
.menu-dropdown {
  display: none;
}

.menu-dropdown.visible {
  display: block;
}